@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/IndexStyle.css" rel="stylesheet">
    <script src="~/Scripts/redirect.js"></script>
</head>

<body class="bg-white">
    <section class="px-5">
        <div class="row justify-content-center">
            <div class="col">
                <img src="https://e-campus.isikun.edu.tr/Content/img/logo.png" style="height: 200px">

                <h5>Users can log in using citizenship number as username and password.</h5>

                <form action="/Home/Login" method="post">
                    <label for="name"></label>
                    <input class="login-form" type="text" id="name" name="name" placeholder="Name" style="width:400px; height:20px" required>

                    <label for="ssn"></label>
                    <input class="login-form" type="text" id="ssn" name="ssn" placeholder="SSN" style="width:400px; height:20px" required>

                    <div>
                        <input class="btn btn-blue" style="width:400px; height:40px" type="submit" value="Login">
                    </div>
                </form>

                <h5 class="footer">2023 © E-Campus - Center for Educational Technologies</h5>
            </div>
        </div>
    </section>
</body>
</html>