
@{
    ViewBag.Title = "GradeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/StyleSheet.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-white">

    <div class="row" style="padding-right:20px; padding-left:20px;">
        <div class="col bg-white">
            <div class="card">
                <div class="card-header bg-blue text-white">
                    <h4 class="text-light" style="height: 8px; font-family: Arial; font-size:18px">Grade Report (Transcript)</h4>
                </div>
                <li class="list-group-item border px-3 pb-3 pt-1">
                    <table class="col text-dark" border="1" cellspacing="2" cellpadding="20">
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>ECTS</th>
                            <th>Letter Grade</th>
                        </tr>
                    </table>
                </li>
            </div>
        </div>
    </div>
</body>
</html>

